.partner__container{
    background-image: url('./bgk.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 200px;
}

.part__card{
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 30px;
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    font-family: sans-serif;
}